<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  </head>
  <body>
  <div class="container" style="margin:30px">
@set('title', 'Home page')
	
	<h1 class="is-size-3">print product</h1>
@each(d in data)
nama barang : {{ d.nama_barang }}
<br/>
deskripsi : {{ d.deskripsi }}
<br/>

harga : {{ d.harga }}
<br/>

stok : {{ d.stok }}
</div>
@end
<script>
	window.print()
</script>
  </body>
</html>
